<h1>This is the products page</h1>
<h2>It should eventurally list products by category</h2>
<ul>
  <% products.forEach( product => { %>
  <li>
    <%= product.name %>  -  <%= product.description %>
  </li>
  <% }) %>
</ul>

<p>
  i need to somehow pass in another parameter, category, from the link on /categories, or read it from the route, to be able to filter the get request by that category.  The server works ('http GET :3000/categories?=ammo' will return all of the records with a category of ammo), and the links work, i'm just not sure how to make it conditionally render, or where to stick that logic.
</p>