<h1>This is the products page</h1>
<h2>It should eventurally list products by category</h2>
<ul>
  <% products.forEach( product => { %>
  <li>
    <%= product.name %>  -  <%= product.description %>
  </li>
  <% }) %>
</ul>